{% extends "base.html" %}

{% block title %}
    Talenge &middot; Login
{% endblock %}

{% block body %}

<div class="container">


        <h1>Log In!</h1>
        <div class="row">
        <div class="col-md-5">
            <form id="login_form" method="post" action="/login/">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" placeholder="Username"/>
                <br />
                <input type="password" name="password" class="form-control" placeholder="Password"/>
                <br/>
                <input class="btn btn-success" type="submit" value="submit" />
            </form>
        </div>
        </div>
</div>
{% endblock %}